<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="nuevaFactura()">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Facturas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Facturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list>
      <span *ngFor="let factura of facturas; let i = index">
        <ion-item (click)="elimina(i)">{{factura.id}} - {{factura.cliente}} - {{factura.total}} €</ion-item>
      </span>
    </ion-list>
  </div>
</ion-content>